<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{ url_for('main.home') }}" class="brand-link">
        <img src="{{ url_for('static', filename='imgs/logo.png')}}" alt="Justice Ndou Profile" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">Freelance Profile</span>
    </a>
<!-- Sidebar -->
<div class="sidebar">
    {% if current_user %}
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <!-- static/imgs/user2-160x160.jpg -->
                <img src="{{ current_user.img_link }}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <!-- Link to user admin -->
                <a href="" class="d-block">{{ current_user.username }} </a>
            </div>
        </div>
    {% endif %}
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                {% if menu_open %}
                    <li class="nav-item has-treeview menu-open">
                {% else %}
                    <li class="nav-item has-treeview">
                {% endif %}
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-code"></i>
                    <p>
                        Freelance Jobs
                    <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    {% if current_user %}
                        <li class="nav-item">
                            <a href="{{ url_for('hireme.hire', path='freelance-jobs') }}" class="nav-link">
                                <i class="nav-icon fas fa-file"></i>
                                <p> Freelance Jobs </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('hireme.hire', path='hire') }}" class="nav-link">
                                <i class="nav-icon fas fa-pen"></i>
                                <p> Submit Freelance Job </p>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{ url_for('users.login') }}" class="nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p> Login </p>
                            </a>
                        </li>
                    {% endif %}
                </ul>
                </li>
                <li class="nav-item ui-menu-divider">-</li>
                <li class="nav-item">
                    <a href="{{ url_for('main.home') }}" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p> Home</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('blog.blog') }}" class="nav-link">
                        <i class="nav-icon fas fa-folder"></i>
                        <p> Blog</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('hireme.freelancer') }}" class="nav-link active">
                        <i class="nav-icon fas fa-business-time"></i>
                        <p> Hire Me </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('projects.projects') }}" class="nav-link">
                        <i class="nav-icon fas fa-code"></i>
                        <p> Projects </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>