
.idea
.vscode
__pycache__
.__pycache__
activate.bat
*.bat
*.log
client_api/.env
.pytest_cache
demo.log
*.pyc
client_api/main/main/__pycache__/routes.cpython-38.pyc
client_api/main/.env

client_api/main/.env
*.pyc
*.pyc
*.pyc
client_api/main/.env
