
{% extends "layouts/layout.html" %}
{% block content %}


    {% include "layouts/flash-messages.html" %}
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">
                    <i class="fa fa-sign-out-alt"> </i>
                    {{ heading }}
                </h1>
            </div>
            <div class="card-body">

                <button class="btn btn-sm btn-danger" id="logout">
                    <i class="fa fa-sign-out-alt"> </i>
                    Logout
                </button>
            </div>
        </div>
{% endblock content %}
{% block user_scripts_block %}
    <script src="{{ url_for('static', filename='js/auth/signout.js') }}" rel="script"></script>
{% endblock user_scripts_block %}


