  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      {% if current_user %}
      <h5>Freelance Admin</h5>
      <h6>{{ current_user.username }}</h6>
      <ul class="navbar-nav ml-auto">
        <li><a href="{{ url_for('projects.projects') }}" class="nav-item btn btn-primary mb-2 text-bold"><i class="nav-icon fas fa-sign-in-alt"> </i> Freelance Jobs </a></li>
        <li><a href="{{ url_for('payments.payments') }}" class="nav-item btn btn-primary mb-2 text-bold"><i class="nav-icon fas fa-sign-in-alt"> </i> Payments </a></li>
        <li><a href="{{ url_for('payments.balances') }}" class="nav-item btn btn-primary mb-2 text-bold"><i class="nav-icon fas fa-sign-in-alt"> </i> Payments </a></li>
        <li><a href="{{ url_for('payments.make_payment', path='ss') }}" class="nav-item btn btn-primary mb-2 text-bold"><i class="nav-icon fas fa-sign-in-alt"> </i> Payments </a></li>
      </ul>
      <a href="{{ url_for('users.logout') }}" class="text-light"><i class="nav-icon fas fa-user"> </i> Log Out </a>
      {% else %}
      <ul class="navbar-nav ml-auto">
        <li><a href="{{ url_for('users.login') }}" class="nav-item btn btn-primary mb-2 text-bold"><i class="nav-icon fas fa-sign-in-alt"> </i> Sign In </a></li>
        <li><a href="{{ url_for('users.register') }}" class="nav-item  btn btn-warning text-bold"><i class="nav-icon fas fa-user-plus"> </i> Register </a></li>
      </ul>
      {% endif %}
    </div>
  </aside>
