
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{ url_for('home') }}" class="brand-link">
        <img src="{{ url_for('static', filename='imgs/AdminLTELogo.png')}}" alt="Justice Ndou Profile" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">Freelance Profile</span>
    </a>

<!-- Sidebar -->
<div class="sidebar">

    {% if user %}
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <!-- static/imgs/user2-160x160.jpg -->
                <img src="{{ url_for('static', filename='imgs/user2-160x160.jpg') }}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <!-- Link to user admin -->
                <a href="" class="d-block">Justice Ndou </a>
            </div>
        </div>
    {% endif %}

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                {% if menu_open %}
                    <li class="nav-item has-treeview menu-open">
                {% else %}
                    <li class="nav-item has-treeview">
                {% endif %}

                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-code"></i>
                    <p>
                        Hire Me
                    <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{{ url_for('hire', path='login') }}" class="nav-link">
                            <i class="nav-icon fas fa-github"></i>
                            <p> Login </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('hire', path='gigs') }}" class="nav-link">
                            <i class="nav-icon fas fa-codepen"></i>
                            <p> Previous Gigs </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('hire', path='hire') }}" class="nav-link">
                            <i class="nav-icon fas fa-codepen"></i>
                            <p> Hire </p>
                        </a>
                    </li>

                </ul>
                </li>
                <li class="nav-item ui-menu-divider">-</li>
                <li class="nav-item">
                    <a href="{{ url_for('home') }}" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p> Home</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('blog') }}" class="nav-link">
                        <i class="nav-icon fas fa-folder"></i>
                        <p> Blog</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ url_for('freelancer') }}" class="nav-link active">
                        <i class="nav-icon fas fa-person-booth"></i>
                        <p> Hire Me </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ url_for('projects') }}" class="nav-link">
                        <i class="nav-icon fas fa-code"></i>
                        <p> Projects </p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

