<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Welcome Lebo Mufeba Assignment Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='./main.css'>
    <!-- <script src='./main.js'></script> -->
</head>
<body>

    <section class="content-wrapper">

            <section class="content-header">
                <table>
                    <tr>
                        <td class="box-image">
                            <img src="./ramaphosa.jpg" />
                        </td>
                        <td class="box-text">
                            <span class="list-names"> Ramaphosa:</span> Good Evening Fellow South African. During lockdown level 4 you will be able to smoke
                            cigarettes. COGTA minister will provide the details on this matter.        
                        </td>
                    </tr>
                    <tr>
                        <td class="box-image">
                            <img src="./dlamini-zuma.jpg"/>
                        </td>
                        <td class="box-text">
                            <span class="list-names">Dlamini-Zuma:</span> No! Lockdown level 4 you will not be allowed to smoke. because 
                            when people Zol they put saliva on the Zol and they share that Zol, So its risky
                            during Covid-19 pandemic  
                        </td>
                    </tr>
                </table>
            <section>
            <section class="content-body">
                <ul class="list">
                    <li class="list-item-ramaphosa">
                        <span class="list-names"><strong>Ramaphosa:</strong></span> When the initial decision was taken, we obviously has also 
                        gleaned on the advice that was there from the medical field.
                        <ul>
                            <li>The change came about because of a flurry of concerns and objections that were
                                raised by several South Africans in their thousands
                            </li>
                        </ul>
                    </li>

                    <li class="list-item-zuma">
                        <span class="list-names"><strong>Dlamini Zuma:</strong></span> The Overarching rationale for the decision to temporarirly 
                        ban the sale of tobacco products during level 4 of the lockdown was to protect human life and health,
                        and to reduce the potential strain on the healthcare system.
                    </li>

                    <li class="list-item-ramaphosa">
                        <span class="list-names"><strong>Ramaphosa: </strong></span> We are going to migrate to another level. Those who are hankering for tobacco must know that it is only a matter of time before 
                        their hankering is assuaged or addressed.

                    </li>

                    <li class="list-item-zuma">
                    <span class="list-names"><strong>Dlamini-Zuma: </strong></span> This duty is particularly acute in the pandemic situation in which we currently find ourselves.  
                        <ul>
                            <li> Any decision concerning lockdown measures must be made with this duty in mind.</li>
                        </ul>
                    </li>
                </ul>
            </section>
    </section>
</body>
</html>