
{% extends "layouts/layout.html" %}

{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Freelance &amp; Web Development Profile</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active"><a href="#">Home</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <span class="card-title bg-dark">
                        <a href="{{ url_for('projects.projects') }}"> <h5 class="text-light">Freelance Profile</h5> </a>
                    </span>
                    <p class='card-text'>

                This Website allows me <a href="{{ url_for('projects.projects')}}"><strong>showcase my work as a web developer</strong></a>, offer helpful tips to fellow developers
                        while at the same time allowing clients/ users to <a href="{{ url_for('hireme.hire', path='hire')}}"><strong>submit their freelance jobs to me</strong></a> so that i can help
                them create: <strong>Web Applications</strong>, <strong>API</strong>, <strong>E-Commerce Solutions</strong>,
                <strong>FinTech Solutions</strong>, <strong>Business Management Solutions</strong>
                for themselves and or their businesses.
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <span class="card-title bg-dark">
                        <a href="{{ url_for('hireme.hire', path='gigs') }}"> <h5 class="text-light">Freelance Jobs &amp; Rates </h5> </a>
                    </span>
                    <p class='card-text'>
                        <strong>I take freelance jobs through this website</strong>, <strong>manage jobs</strong>, <strong>take payments</strong>, and also allow clients to monitor
                        the progress of their projects on this website.<br/>
                        My Going Rates as Reflected on My Github Profile is as follows:
                        <ul>
                            <li> <strong>Hourly $15.00 / Hour</strong> </li>
                            <li> <strong>$450.00 / Gig(Freelance Job)</strong> </li>
                        </ul>
                        Weather or not to use Hourly Rates or Per Freelance Job rate will be decided on a case by case basis.
                        You need to create an account in this website in order for you to submit freelance jobs to me.
                    </p>
                    <a href="{{ url_for('hireme.hire', path='hire') }}" class="card-link">Submit Jobs </a>
                    <a href="{{ url_for('users.login') }}" class="card-link">Login </a>
                    <a href="{{ url_for('users.register') }}" class="card-link">Create Account </a>

                </div>
            </div>



            <div class="card">
                <div class="card-body">
                    <span class="card-title bg-dark">
                        <a href="{{ url_for('blog.blog') }}"> <h5 class="text-light">Blog - Programming Topics </h5> </a>
                    </span>
                    <p class='card-text'>
                        Although i will be taking <strong>freelancing jobs</strong> from this website and also use it to help me and my clients
                        to manage the progress of such freelancing work, this site itself will also serve as an experimental
                        place for me to try out certain <strong>API</strong>, <strong>Frameworks</strong>, <strong>Micro-Services (Implementations)</strong> and etc.
                        and then <a href="{{ url_for('blog.blog') }}"><strong>write articles about such experiences</strong></a>, make recommendations and demonstrate the end results.
                        This will be done for educational purposes both for me, visitors and clients.
                    </p>
            </div>

            <div class="card">
              <div class="card-body">
                <span class="card-title bg-dark">
                    <a href="{{ url_for('main.contact') }}"> <h5 class="text-light">Contact - Support And Suggestions</h5> </a>
                </span>
                <p class='card-text'>
                    If you need to communicate anything to me, or make suggestions for future articles / implementations
                    of certain programming concepts or API's please use our <a href="{{ url_for('main.contact') }}"><strong>contact page in this website</strong></a>.
                </p>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <span class="card-title bg-dark">
                  <h5 class="text-light">Back End Web Development</h5>
                </span>
                <p class='card-text'>
                  I am a skilled backend developer using both Python and Node.js, i have experience's in developing
                  for both Google Cloud Platform, and Heroku Cloud Based Solutions.
                  I can either develop Rest API's (Application Programming Interface) using Python or Node.js.
                  Or Full Web Applications complete with their own API's.
                </p>

                <p class="card-text">
                    <ul class="group-list bg-dark">
                      <span class="text-light">Programming Languages and Frameworks </span>
                      <li class="list-group-item text-dark"> Python 3.x
                          <ul>
                            <li>Flask</li>
                            <li>Flask_restful</li>
                            <li>Fast_Api</li>
                            <li>Jinja2 Templating</li>
                            <li>GCP Functions (Python 3.x)</li>
                            <li>GCP Cloud Run (Python 3.x)</li>
                          </ul>
                      </li>
                      <li class="list-group-item text-dark"> Node.js
                          <ul>
                            <li>Express.JS</li>
                            <li>Feathers.io</li>
                            <li>Sockets.io</li>
                            <li>Firebase Functions (Node.JS)</li>
                            <li>GCP Function (Node.JS)</li>
                            <li>GCP Cloud Run (Node.JS)</li>
                          </ul>
                      </li>

                      <li class="list-group-item text-dark"> Databases
                        <ul>
                          <li>Firebase Firestore</li>
                          <li>Firebase Realtime Database</li>
                          <li>GCP Datastore</li>
                          <li>MongoDB</li>
                          <li>MySQL</li>
                        </ul>
                    </li>

                    </ul>
                </p>

                <a href="{{ url_for('hireme.freelancer') }}" class="card-link">Hire Me</a>
                <a href="{{ url_for('blog.learn_more', path='backend-development') }}" class="card-link">Learn More...</a>
              </div>
            </div>

            <div class="card  card-outline">
              <div class="card-body">
                <span class="card-title bg-dark">
                  <h5 class="text-light">
                    Front End Web Development
                  </h5>
                </span>
                <p class="card-text">
                  I am also skilled in Web Applications & Single Page Web Apps, using React.JS or Vanilla.js to create
                  specific business solutions such as :
                  <ol>
                    <li>E-Commerce Packages</li>
                    <li>Forums</li>
                    <li>Custom Blogs</li>
                    <li>Chat Apps</li>
                    <li>Ticket Based Support Systems</li>
                  </ol>
              </p>

                <p class="card-text">
                  <ul class="group-list bg-dark">
                    <span class="text-light">Scripting Languages</span>
                    <li class="list-group-item text-dark">
                        <ul>
                            <li> HTML </li>
                            <li> CSS </li>
                            <li> Javascript ES 2016, 2017, 2018, 2019 </li>
                            <li> JQuery </li>
                            <li> Web Assembly</li>
                        </ul>
                      </li>
                      <span class="text-light">Frameworks </span>
                      <li  class="list-group-item text-dark">
                        <ul>
                            <li>React.JS</li>
                            <li>Bootstrap</li>
                            <li>Jinja2 </li>
                            <li>WordPress</li>
                        </ul>
                      </li>
                  </ul>
                </p>
                <a href="{{ url_for('hireme.freelancer') }}" class="card-link">Hire Me</a>
                <a href="{{ url_for('blog.learn_more', path='frontend-development') }}" class="card-link">Learn More...</a>
              </div>
            </div><!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
{% endblock content %}

{% block service_worker %}
    <script>
      if('serviceWorker' in navigator) {
      navigator.serviceWorker
          .register('sw.js')
          .then(function() { console.log("Service Worker Registered"); });
      }
    </script>

{% endblock service_worker %}

