

{% extends "layout.html" %}
{% block header %}

    <title> About Justice Ndou - Web Development - Freelancer</title>

    <meta name="description" content="More Information on Justice Ndou life as a freelancer and web developer" />

    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<!-- og:properties -->
	<meta property="og:site_name" name="Justice Ndou Freelance &amp; Web Development Profile" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="About Justice Ndou a Freelancer, Web Developer, #Bitcoin and #Dogecoin Supporter"/>
	<meta property="og:title" content="About Justice Ndou a Freelancer and Web Developer, Supporter of #Bitcoin and #Dogecoin" />
	<meta property="og:url" content="{{ url_for('about', _external=True )}}" />

	<!-- og:image -->
	<meta property="og:image" content="{{ url_for('static', filename='/imgs/about-justice-ndou.png') }}" />
	<meta property="og:image:type" content="image/png" />
	<meta property="og:image:width" content="1024" />
	<meta property="og:image:height" content="1270" />
	<meta property="og:image:alt" content="About Justice Ndou" />

    <!-- Twitter Card -->
	<meta name="twitter:card" content='summary_large_image' />
	<meta name="twitter:site" content="{{ url_for('home', _external=True) }}" />
	<meta name="twitter:creator" content="@blueitserver" />
	<meta name="twitter:title" content="About Justice Ndou a Freelancer and Web Developer, Supporter of #Bitcoin and #Dogecoin" />
	<meta name="twitter:description" content="Justice Ndou is a freelance website developer experienced in Google Cloud Platform Applications and API's" />
	<meta name="twitter:domain" content="{{ url_for('about', _external=True )}}"  />

	<meta name="twitter:image" content="{{ url_for('static', filename='/imgs/about-justice-ndou.png') }}" />
	<meta name="twitter:image:alt" content="About Justice Ndou" />

	<!--- favicon -->

	<link rel="shortcut icon" href="{{ url_for('static', filename='/imgs/avatar.png')}}" />
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json')}}" />

	<link rel="canonical" href="{{ url_for('about', _external=True )}}" />

{% endblock header%}

{% block content %}
    <h1>{{ heading }}</h1>
{% endblock content %}