
{% extends "layout.html" %}
{% block header %}

    <title> Contact Justice Ndou for freelance web development</title>

    <meta name="description" content="Contact Justice Ndou for help in Web Development experienced in Python, Javascript, Node.js, and etc" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<!-- og:properties -->
	<meta property="og:site_name" name="Justice Ndou Freelance &amp; Web Development Profile" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="Contact Justice Ndou for help in Web Development experienced in Python, Javascript, Node.js, and etc"/>
	<meta property="og:title" content="Contact Justice Ndou for freelance web development" />
	<meta property="og:url" content="https://justice-ndou.appspot.com/contact" />

	<!-- og:image -->
	<meta name="twitter:image" content="{{ url_for('static', filename='/imgs/contact-justice-ndou.png')}}" />
	<meta property="og:image:type" content="image/png" />
	<meta property="og:image:width" content="1024" />
	<meta property="og:image:height" content="1270" />
	<meta property="og:image:alt" content="Contact Justice Ndou" />

    <!-- Twitter Card -->
	<meta name="twitter:card" content='summary_large_image' />
	<meta name="twitter:site" content="https://justice-ndou.appspot.com" />
	<meta name="twitter:creator" content="@blueitserver" />
	<meta name="twitter:title" content="Contact Justice Ndou for freelance web development" />
	<meta name="twitter:description" content="Contact Justice Ndou for help in Web Development experienced in Python, Javascript, Node.js, and etc" />
	<meta name="twitter:domain" content='https://justice-ndou.appspot.com/contact' />

	<meta name="twitter:image" content="{{ url_for('static', filename='/imgs/contact-justice-ndou.png')}}" />
	<meta name="twitter:image:alt" content="Contact Justice Ndou" />

	<!--- favicon -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='/imgs/avatar.png')}}" />
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json')}}" />

{% endblock header%}

{% block content %}
    <h1>{{ heading }}</h1>
{% endblock content %}