
{% extends "layout.html" %}
{% block header %}

    <title>Freelance - Hire Justice Ndou for Web Development- Javascript, Node.js, Python, GCP. React.js </title>
    <meta name="description" content="Freelance - Hire Justice Ndou for Web Development- Javascript, Node.js, Python, GCP. React.js" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<!-- og:properties -->
	<meta property="og:site_name" name="Justice Ndou Freelance &amp; Web Development Profile" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="You can Hire Justice Ndou for freelance web development i can work with react.js nodex.js python and etc"/>
	<meta property="og:title" content="Freelance - Hire Justice Ndou for Web Development- Javascript, Node.js, Python, GCP. React.js " />
	<meta property="og:url" content="https://justice-ndou.appspot.com/hire-freelancer" />

	<!-- og:image -->
	<meta name="twitter:image" content="{{ url_for('static', filename='/imgs/hire-freelancer.png')}}" />
	<meta property="og:image:type" content="image/png" />
	<meta property="og:image:width" content="1024" />
	<meta property="og:image:height" content="1270" />
	<meta property="og:image:alt" content="Hire Justice Ndou as a freelancer" />

    <!-- Twitter Card -->
	<meta name="twitter:card" content='summary_large_image' />
	<meta name="twitter:site" content="https://justice-ndou.appspot.com" />
	<meta name="twitter:creator" content="@blueitserver" />
	<meta name="twitter:title" content="Freelance - Hire Justice Ndou for Web Development" />
	<meta name="twitter:description" content="Experienced with React.js, Node.js, Python 3.x, GCP, Jinja2, Flask, and etc" />
	<meta name="twitter:domain" content='https://justice-ndou.appspot.com/hire-freelancer' />

	<meta name="twitter:image" content="{{ url_for('static', filename='/imgs/hire-freelancer.png')}}" />
	<meta name="twitter:image:alt" content="Hire Justice Ndou as a freelancer" />

	<!--- favicon -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='/imgs/avatar.png')}}" />
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json')}}" />

{% endblock header%}

{% block content %}
    <h1>{{ heading }}</h1>
{% endblock content %}