<!DOCTYPE html>
<html lang="en">
    <head>
        {% block header %}
            <!-- Page Header Here -->
        {% endblock header %}
        <!-- Javascript and css includes here-->
    </head>
    <body>

        <div class="container-fluid navbar navbar-fixed-top">
            <a href="{{ url_for('home') }}" title="Justice Ndou Profile Home" target="_self">Home</a>
            <a href="{{ url_for('about') }}" title="About Justice Ndou" target="_self">About</a>
            <a href="{{ url_for('contact') }}" title="Contact Justice Ndou for freelance Web Development" target="_self">Contact</a>
            <a href="{{ url_for('blog') }}" title="A Blog by Justice Ndou on Web Development" target="_self">Blog</a>
            <a href="{{ url_for('freelancer') }}" title="Hire Me as a Freelancer" target="_self">Hire-Me</a>
            <a href="{{ url_for('projects') }}" title="Github Projects and Profiles" target="_self">Projects</a>
        </div>
        <div class="container">
                {% block content %}
                    <!-- Page Content Here -->
                {% endblock %}
        </div>
        <!-- Javascript and css here -->
        <script src="{{ url_for('static', filename='/js/app.js') }}"> </script>

        {% block service_worker %}
            <!-- Service Worker Here -->
        {% endblock %}

    </body>
</html>