
{% extends "layout.html" %}
{% block header %}

    <title>Justice Ndou Github Projects and Freelance Profiles </title>
    <meta name="description" content="Justice Ndou Github Projects and active freelance profiles" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<!-- og:properties -->
	<meta property="og:site_name" name="Justice Ndou Freelance &amp; Web Development Profile" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="Justice Ndou Github Projects and active freelance profiles"/>
	<meta property="og:title" content="Justice Ndou Github Projects" />
	<meta property="og:url" content="https://justice-ndou.appspot.com/projects" />

	<!-- og:image -->
	<meta name="twitter:image" content="{{ url_for('static', filename='/imgs/github-projects-justice-ndou.png') }}" />
	<meta property="og:image:type" content="image/png" />
	<meta property="og:image:width" content="1024" />
	<meta property="og:image:height" content="1270" />
	<meta property="og:image:alt" content="Justice Ndou Github Projects" />

    <!-- Twitter Card -->
	<meta name="twitter:card" content='summary_large_image' />
	<meta name="twitter:site" content="https://justice-ndou.appspot.com" />
	<meta name="twitter:creator" content="@blueitserver" />
	<meta name="twitter:title" content="Justice Ndou Github Projects" />
	<meta name="twitter:description" content="Justice Ndou Github Projects and active freelance profiles" />
	<meta name="twitter:domain" content='https://justice-ndou.appspot.com/projects' />

	<meta name="twitter:image" content="{{ url_for('static', filename='/imgs/github-projects-justice-ndou.png') }}" />
	<meta name="twitter:image:alt" content="Justice Ndou Github Projects" />

	<!--- favicon -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='/imgs/avatar.png')}}" />
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json')}}" />

{% endblock header%}

{% block content %}
    <h1>{{ heading }}</h1>
{% endblock content %}>