{% extends "layouts/layout.html" %}
{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-8">
              <h1 class="m-0 text-dark">{{heading}} </h1>
            </div><!-- /.col -->
            <div class="col-sm-4">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item active"><a href="{{ url_for('hireme.freelancer')}}">Freelancer</a></li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock content %}
{% block sidebar %}
    {% include "layouts/hireme/sidebar.html" %}
{% endblock %}
{% block header %}
    {% include "layouts/hireme/header.html" %}
{% endblock header %}