{% extends "layouts/layout.html" %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        {% include "layouts/flash-messages.html" %}
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{heading}}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ url_for('hireme.freelancer')}}"> Freelancer</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
    <div class="card">
        <div class="card-body">
            <div class="row">
            <div class="col-md-6">
            <div class="card card-dark">
            <div class="card-header">
            <h3 class="card-title">General</h3>

            <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
            </div>
            </div>
            <div class="card-body">

            <div class="form-group">
            <label for="project_category">Project Category</label>
            <select class="form-control" id="project_category">
                <option value="webdev"> Web Development</option>
                <option value="apidev"> API Development &amp; Intergration</option>
                <option value="webapp"> Web Applications</option>
            </select>
            </div>

            <div class="form-group">
            <label for="inputName">Project Name</label>
            <input type="text" id="project_name" class="form-control">
            </div>
            <div class="form-group">
            <label for="inputDescription">Project Description</label>
            <textarea id="description" class="form-control" rows="4"></textarea>
            </div>
            </div>
            <!-- /.card-body -->
            </div>
            <!-- /.card -->
            </div>
            <div class="col-md-6">
            <div class="card card-dark">
            <div class="card-header">
            <h3 class="card-title">Budget</h3>

            <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
            </div>
            </div>
            <div class="card-body">
            <div class="form-group">
            <label for="currency">Currency</label>
            <select class="form-control" id="currency">
                <option value="USD"> ($) American Dollar </option>
                <option value="R"> (R) South African Rands</option>
            </select>
            </div>

            <div class="form-group">
            <label for="inputEstimatedBudget">Estimated budget</label>
            <input type="number" id="budget" class="form-control">
            </div>
            <div class="form-group">
            <label for="inputEstimatedDuration">Estimated project duration</label>
            <input type="number" id="est_duration" class="form-control">
            </div>
            <div class="form-group">
              <p class="text text-info" id="message"></p>
            </div>
            </div>
            <!-- /.card-body -->
            </div>
            <!-- /.card -->
            </div>
            </div>
            <div class="row">
            <div class="col-12">
            <a href="#" class="btn btn-secondary">Cancel</a>
            <input id="submit" type="submit" value="Create new Project" class="btn btn-success float-right">
            <div class="form-group">
            <p class="text text-info" id="message"></p>
            </div>

            </div>
            </div>
        </div>
    </div>
    </section>
{% endblock content %}>
{% block sidebar %}
    {% include "layouts/hireme/sidebar.html" %}
{% endblock %}
{% block header %}
    {% include "layouts/hireme/header.html" %}
{% endblock header %}

{% block user_scripts_block %}
    <script src="{{ url_for('static', filename='js/projects/hire.js') }}" rel="script"></script>
{% endblock user_scripts_block %}